/***********************************
** Variables.scss
** All the Variables for the site
***********************************/
//Colors:
$black: #999999;
$white: #ffffff;
$red: #BE1E2D;
$lightGray: #95989A;
$darkGray: #2E2626;


$mainColor: $red;

//Globals:
$bodyFontSize: 16px;
$bodyFontColor: 16px;

//Colors:

$headerBackground: $red;
$menuLinks: $white;
$heroBackground: #2e2626;
$galleryBackground: $darkGray;
$contactBackground: $red;
$footerBackground: $darkGray;
$tabColor: $red;


//Fonts:
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
$mainFontColor: $lightGray;
$headingFontColor: $darkGray;

$Josefin: 'Josefin Slab', sans-serif;
$Garamond: 'EB Garamond', serif;

$h1FontSize: 6.25em;
$h2FontSize: 4.4em;
$h3FontSize: 4.1em;
$h4FontSize: 3.9em;
$h5FontSize: 2.5em;
$h6FontSize: 2em;

$menuFontSize: 1.75em;

