/**
 *
 * Base Breakpoint
 * All style here will be apply at every size
 * unless overwitten at another size
 *
 */


/*===================================
=            Page Header            =
===================================*/
body{
	font-family: $Garamond;
	font-size: 16px;
	color: $mainFontColor;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	color: $headingFontColor;
}
h1{
	font-family: $Josefin;
	font-size: $h1FontSize;
}
h2{
	font-family: $Garamond;
	font-size: $h2FontSize;
}
h3{
	font-family: $Garamond;
	font-size: $h3FontSize;
}

h4{
	font-family: $Josefin;
	font-size: $h4FontSize;
}

h5{
	font-family: $Garamond;
	font-size: $h5FontSize;
}

h6{
	font-family: $Josefin;
	font-size: $h6FontSize;
}

.panel-default{
	border-radius: 0;
}

.modal{
	.btn{
		border-radius: 0;
	}
	.btn-primary{
		background-color: transparent;
		border-color: $red;
		color: $red;
	}
}


header.header{
	nav.navbar{
		background: $headerBackground;
		border-radius: 0;
		margin-bottom: 0;
		padding: 10px;

		.navbar-collapse{
			border-color: transparent;
			box-shadow: none;
		}

		.navbar-header{
			float: right;
			.navbar-toggle{
				background-color: transparent;
				color: $white;
				border: none;


				.icon-bar{
					background-color: $white;
					width: 44px;
					height: 4px;
					margin-top: 10px;
				}

			}
		}
		img{
			
		}
		
		ul.navbar-nav{

			padding-top: 20px;

			.active a{
				background-color: transparent;
			}

			a{
				color: $menuLinks;
				font-size: $menuFontSize;
				font-weight: 400;
			}
		}
	}
}
section#hero{
	width: 100%;
	overflow: hidden;
	img{
		width: 100%;
		margin-bottom: -10px;
	}
	#Layer_1{
		margin-top: -180px;
		width: 102%;
		margin-left: -1%;
	}

	.hero_gallery{
		position: relative;
		z-index: 20;
		padding-top: 29px;
		padding-bottom: 20px;
		margin-top: -10px;
		background: $heroBackground;
	}
	
}
section#services{
	#accordion{
		.panel-default{
			.panel-heading{
				background-color: $mainColor;
				color: $white;
				padding-top: 30px;
				padding-bottom: 30px;
				font-family: $Garamond;

				.panel-title{
					font-size: 36px;
				}
			}
			.panel-body{
				img{
					float: left;
					padding-right: 30px;
					max-width: 100%;

				}
				font-size: 1em;

				color: $lightGray;
			}
		}
	}
}
section#gallery{
	padding-top: 10px;
	color: $white;
	background-color: $galleryBackground;
	#gallery-carousel .item{
	  margin: 10px 5px;
	}
	#gallery-carousel .item img{
	  display: block;
	  width: 100%;
	  height: auto;
	}
}

section#map{
	position: relative;
	//padding-bottom: 75%; // This is the aspect ratio
	height: 600px;
	overflow: hidden;
	iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100% !important;
	    height: 100% !important;
	    pointer-events: none;
    }

}
section#contact{
	padding: 20px;
	background-color: $contactBackground;
	color: $white;
	text-align: center;
	hr{
		width: 50%;
		height: 2px;
		margin: 10px auto;
	}
	.col-md-6{
		position: relative;
	}

	.contact_info{
		
		p{
			text-align: center;
			font-size: 2em;
			font-family: $Josefin;
			line-height: 1.2em;
		}
		
	}
	.form-wrapper{
		text-align: center;
		.btn-contact{
			font-size: 36px;
			font-family: $Josefin;
			background: none;
			border-radius: 0;
			border: 2px $white solid;
			margin-top: 30px;
			color: $white;
			
			
			&:hover{
				background-color: $darkGray;
			}
		}
	}
}

footer.footer{
	border-top: 2px $white solid;
	color: $white;
	background-color: $footerBackground;
	padding: 40px;
	text-align: center;


	.social{
		text-align: center;
		.fa-stack{
			
		}
		.fa-stack-1x{
			color: $footerBackground;

		}
	}
}




/*=====  End of Page Header  ======*/



// Module Pages

.modulesPage{
	.textBox{
		img{
			margin-right: 30px;
		}
		font-size: 1.5em;
		color: $lightGray;
	}

	.accordian{
		.panel-body{ //Dont use in the real theme
			.panel-default{
				.panel-heading{
					border-radius: 0;
					background-color: $mainColor;
					color: $white;
					padding-top: 30px;
					padding-bottom: 30px;
					font-family: $Garamond;

					.panel-title{
						font-size: 36px;
					}
				}
				.panel-body{
					border-radius: 0;
					img{
						float: left;
						padding-right: 30px;
						max-width: 100%;

					}
					font-size: 1.5em;

					color: $lightGray;
				}
			}
		}
	}
	.tabs{
		.nav-tabs{
		    border: none;
		  li{
		    border: none;
		    text-align: center;
		    margin-left: 10px; 
		    a{
		        border: solid 1px $tabColor;
		        /*padding: 10px 20px;
		        margin-left: 10px;
		        margin-right: 10px;*/
		        border-radius: 0;
		        font-size: 30px;
		        font-weight: 300;
		        color: $tabColor !important;
		        margin-bottom: 10px;
		        &:hover{
		            background-color: $tabColor !important;
		            color: $white !important;
		        }
		        &:active{
		            background-color: $tabColor !important;
		            color: $white !important;
		        }
		    }
		   }
		    .active{
		        border: none !important;
		        a{
		            border: solid 1px $tabColor !important;
		/*          padding: 10px 20px !important;
		            margin-left: 10px;
		            margin-right: 10px;*/
		            border-radius: 0;
		            font-size: 30px;
		            font-weight: 300;
		            color: $white !important;
		            background-color: $tabColor !important;
		        }
		    }
		}
		.tab-pane{
			font-size: 1.5em;
			color: $lightGray;
		}

	}

	.grid{
		h6{
			margin-bottom: -15px;
			color: $mainColor;
		}
		hr{
			border-color: $mainColor;
		}
	}

	.gallery{
		padding-top: 10px;
		color: $white;
		background-color: $galleryBackground;
		#gallery-carousel .item{
		  margin: 10px 5px;
		}
		#gallery-carousel .item img{
		  display: block;
		  width: 100%;
		  height: auto;
		}
	}

	.modals{
		.panel-body{
			background: $red;
		}
		.btn-contact{
			font-size: 36px;
			font-family: $Josefin;
			background: none;
			border-radius: 0;
			border: 2px $white solid;
			color: $white;
			padding: 20px;
			
			
			&:hover{
				background-color: $darkGray;
			}
		}
	}
}
