/**
 *
 * Medium Screen Breakpoint
 * Theses styles are for screen sizes between 1025px and 1280px wide
 *
 */


/*===================================
=            Page Header            =
===================================*/

body{
	font-size: 20px;
}
header.header{
	text-align: left;
	nav.navbar{
		img{
			float: left;
		}
		
		ul.navbar-nav{
			float: right;
			

			a{
				
			}
		}
	}
}

section#services{
	#accordion{
		.panel-default{
			.panel-body{
				font-size: 1.5em;

			}
		}
	}
}

/*=====  End of Page Header  ======*/


section#contact{
	text-align: left;

	.col-md-6{
		position: relative;

	}

	.contact_info{

		p{
			font-family: $Josefin;
			line-height: 1.2em;
			text-align: left;
		}
		
	}
	.form-wrapper{
		
		.btn-contact{

			font-size: 75px;
			margin-top: 70px;
			
			&:hover{
				background-color: $darkGray;
			}
		}
	}
}

footer.footer{
	text-align: left;
	.social{
		float: right;
		.fa-stack{
			float: left;
		}
	}
}