/**
 *
 * Small Screen Breakpoint
 * Theses styles are for screen sizes between 768px and 1024px wide
 *
 */


/*===================================
=            Page Header            =
===================================*/


header.header{
	nav.navbar{
		text-align: center;
		img{
			float: none;
			display: block;
			margin: 0 auto;
		}
		
		ul.navbar-nav{
			float: none;
			padding-top: 20px; 
			margin-left: 20px;

			a{
				color: $menuLinks;
				font-size: $menuFontSize;
				font-weight: 400;
			}
		}
	}
}

/*=====  End of Page Header  ======*/
